.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.access{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
}


.access button{
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.figure{
  display: flex;
  justify-content: right;
  height: 40%;

}

.figure img{
  margin-bottom: 30px;
  margin-right: 50px;
}



.back-button {
  font-size: 24px;
  color: #4a4a4a;
  background: none;
  border: none;
  margin-left: 20px;
  cursor: pointer;

}
