<app-nav-user></app-nav-user>
<div class="container">
  <button class="back-button" routerLink="/user">&larr;</button>
  <h2>Desempeño General</h2>

  <div class="statistics">
    <!-- Gráfico a la izquierda -->
    <div class="chart-container">
      <p>Porcentaje de respuestas correctas</p>
      <canvas id="Chart1"></canvas>
    </div>

    <!-- Textos a la derecha -->
    <div class="text-stats">
      <div class="stat-item">
        <p>Promedio de respuestas correctas</p>
        <p class="stat-value">{{ percentageCorrectAnswers }}</p>
      </div>
      <div class="stat-item">
        <p>Cantidad de cuestionarios resueltos totales</p>
        <p class="stat-value">{{ quizzesCompleted }}</p>
      </div>
      <div class="stat-item">
        <p>Promedio de puntos obtenidos por Quiz</p>
        <p class="stat-value">{{ avgPoints }}</p>
      </div>
    </div>
  </div>
  <button [routerLink]="['statistics-quiz-user']" class="view-performance-button">Ver Desempeño por Cuestionario</button>

</div>
