.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f0e6;
  color: #5a2b2b;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.back-button {
  align-self: flex-start;
  background: none;
  border: none;
  color: #5a2b2b;
  font-size: 1.5em;
  cursor: pointer;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #5a2b2b;
}

.statistics {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
}

.chart-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.text-stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat-item p {
  margin: 0;
}

.stat-value {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  color: #5a2b2b;
}

.view-performance-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.view-performance-button:hover {
  background-color: #e0356b;
}
