.example-stepper {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.questionnaire-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #276A9D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.example-card {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
}
