<div class="questionnaire-container">
  <mat-stepper [orientation]="(stepperOrientation | async)!" #stepper>
    <ng-container *ngFor="let q of lista; let i = index">
      <mat-step [stepControl]="formGroups[i]" [label]="'Pregunta ' + (i + 1)">
        <form [formGroup]="formGroups[i]">
          <div>
            <h3>{{ q.question }}</h3>  Mostrar la pregunta
          </div>
          <div>
            <button *ngFor="let answer of answersMap[q.questionId]" [value]="answer.answersDescription" (click)="onSelectionChange($event, i,q.qqId,stepper)">
              {{answer.answersDescription}}
            </button>
          </div>
        </form>
      </mat-step>
    </ng-container>
    <mat-step>
      <ng-template matStepLabel>Resumen</ng-template>
      <h3>Resumen de cuestionario</h3>
      <mat-card class="example-card" appearance="outlined" *ngFor="let point of points; let i = index">
        <mat-card-content>
          <p>Pregunta {{i+1}}</p>
          <p>+ {{point}}</p>
          <img src="assets/img/correct.png" alt="" *ngIf="point != 0">
          <img src="assets/img/incorrect.png" alt="" *ngIf="point < 1">
        </mat-card-content>
      </mat-card>
      <h3>Total:</h3>
      <p>{{totalPoints}}</p>
      <button [routerLink]="'/user/quizzes'">Terminar cuestionario</button>
    </mat-step>
  </mat-stepper>
  <div class="response-container" *ngIf="submitAnswer">
    <h1>{{ correctAnswer ? '¡Respuesta correcta!' : '¡Respuesta incorrecta!' }}</h1>
    <img src="assets/logo.png" alt="">
    <button *ngIf="correctAnswer" (click)="nextQuestion()">Siguiente pregunta</button>
    <button *ngIf="!correctAnswer && attemps < 2" (click)="submitAnswer = false">Intentar de nuevo</button>
    <button *ngIf="!correctAnswer && attemps == 2" (click)="nextQuestion()">Siguiente pregunta</button>
    <img src="assets/img/correct.png" alt="" *ngIf="correctAnswer">
    <img src="assets/img/incorrect.png" alt="" *ngIf="!correctAnswer">
    <p>{{messageDialog}}</p>
  </div>
</div>
<router-outlet/>
